.page-registrationCustomers-block{
    width: 100vw;
    height: 100vh;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
    border: 0%;
}

#form-registrationCustomers {
    background: whitesmoke;
    width: 35%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5%;
}

.div-input-block-registrationCustomers {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 50%;
    margin: 0%;
    padding: 0%;
    margin-top: 3%;
}

.label-block-registrationCustomers {
    padding: 0%;
    margin: 0%;
    margin-bottom: 1%;
} 

.input-block-registrationCustomers {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 70%;
    border-radius: 8px;
}

.btn-salvar-registrationCustomers{
    background-color: rgba(0,255,0);
    margin: 0%;
    padding: 0%;
    height: 5%;
    width: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 15%;
}

.btn-salvar-registrationCustomers:hover{
    background-color: rgba(50,205,50);
}

#btn-registration-exit {
    width: 3%;
    height: 7%;
    align-self: flex-start;
    position: absolute;
    margin: 0%;
    margin-left: 2%;
    padding: 0%;
    top: 5%;
    border-radius: 10px !important;
}

